@font-face{
  font-family: text-security-disc;
  src: url("https://raw.githubusercontent.com/noppa/text-security/master/dist/text-security-disc.woff");
}
[type="password"]{/* [name="email"]{*/
  -webkit-text-security: disc;
  font-family: text-security-disc;
}
/*form[autocomplete="off"] input[type="text"] {
    background-position: 150% 50% !important;
}*/
